body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.page-content{
    padding: 30px; 
    max-width: 300px;
    margin: 0 auto; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    background-color: #f5f5f5;
}

.progressCircle {
    margin-top: 0px;
    height: 300px;
}

.progressCircle > svg {
    height: 100%;
    display: block;
}

.pill{
    height: 100px;
    width: 10px;
}

.spacer {
    background-color: #e0e0e1;
}